<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secure Shop - Inscription</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="topbar"></div>

    <main>
      <section class="hero">
        <div class="container">
          <h1>Inscription</h1>

          <form action="/api/auth/register" method="POST">
            <label>Nom d'utilisateur*</label>
            <input type="text" name="username" required />

            <label>E-Mail*</label>
            <input type="email" name="email" required />

            <label>Mot de passe*</label>
            <input
              type="password"
              id="VerifingPassword"
              name="password"
              required
            />

            <div id="Length" class="glyphicon glyphicon-remove">
              Le mot de passe contien au moins <strong>7</strong> caratères.
            </div>
            <div id="UpperCase" class="glyphicon glyphicon-remove">
              Le mot de passe contien au moins <strong>1</strong> caratère
              majuscule.
            </div>
            <div id="LowerCase" class="glyphicon glyphicon-remove">
              Le mot de passe contien au moins <strong>1</strong> caratère
              minuscule.
            </div>
            <div id="Numbers" class="glyphicon glyphicon-remove">
              Le mot de passe contien au moins <strong>1</strong> chiffre.
            </div>
            <div id="Symbols" class="glyphicon glyphicon-remove">
              Le mot de passe contien au moins <strong>1</strong> caratère
              spécial.
            </div>

            <label>Adresse</label>
            <input type="text" name="address" />

            <label>Lien vers une photo de profil</label>
            <input
              type="text"
              name="photo_path"
              placeholder="https://exemple.com/image.jpg"
              id="pp_link"
            />

            <button type="submit">S'inscrire</button>
          </form>
        </div>
      </section>
    </main>

    <footer id="contact" class="footer">
      <div class="container">
        <p>Projet pedagogique - ETML 183</p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="/js/nav.js"></script>
    <script src="/js/register.js"></script>
  </body>
</html>
